<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <div class="card">
    <div class="card-header text-left display-4 p-3 mb-2 bg-dark text-white">
      Real-time Detection
    </div>
    <div class="card-body">

      <img id="videoElement" src="{{ url_for('webcam_feed') }}" />
      <form id="control">
        Camera preview:
        <a id="cam-preview"><button class="btn btn-default">On/Off</button></a>
        Flip horizontal:
        <a id="flip-horizontal"><button class="btn btn-default">On/Off</button></a>
        Run detection model:
        <a id="use-model"><button class="btn btn-default">On/Off</button></a>
        <br />
        <br />
        Exposure:
        <a id="exposure-down"><button class="btn btn-default">-1</button></a>
        <a id="exposure-up"><button class="btn btn-default">+1</button></a>
        Contrast:
        <a id="contrast-down"><button class="btn btn-default">-4</button></a>
        <a id="contrast-up"><button class="btn btn-default">+4</button></a>
        <br />
        <br />
        <a id="reset-cam"><button class="btn btn-default">Reset Camera</button></a>
      </form>
      <!-- Imports -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      
      <!-- Scripts -->
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='script.js') }}">
      </script>
      
    </div>

  </div>
  
</body>

</html>
